/*************************
    class animation
*************************/
.el{
    opacity: 0.4;
    transition: opacity 0.2s ease-out;
}

.el:hover{
    opacity: 1;
}

/**********************
    Extra class
***********************/

.img-fluid{
    width: 100%;
    height: 100%;
}

.z-index-n-1{
    z-index: -1;
}

.z-index-0{
    z-index: 0;
}

.z-index-1{
    z-index: 1;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.text-gray{
    color: #eaeaea;
}

.bg-soft-dark{
    background-color: #495159 !important;
}

.border-triangle {
    width: 0;
    margin-left: 90%;
    margin-right: auto;
    border: 12px solid transparent;
    border-top-color: #28d;
}

.border-top-1 {
    border-top: 12px solid;
}

.border-blue {
    border-color: #28d;
}

.border-3{
    border: 3px solid;
}

.bg-blue{
    background-color: #28d;
}

/*********************
    class btn white
**********************/

.btn-outline-white {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
}

.btn-outline-white:hover {
    color: #6c757d;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white:focus, .btn-outline-white.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-white.disabled, .btn-outline-white:disabled {
    color: #ffffff;
    background-color: transparent;
}

.btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active,
.show > .btn-outline-white.dropdown-toggle {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

/*********************
    class navbar
********************/
.navbar-top{
    padding: 1vw 0;
}

.navbar-top a{
    padding-top: 0;
    padding-bottom: 0;
    color: #eaeaea;
}

.navbar-top a:first-child{
    border-right: 1.5px solid #eaeaea;
}

.navbar-border-blue a{
    transition: all 0.5s ease-out;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link:first-child{
        padding-right: 2.5rem;
        padding-left: 0;
    }
}

/**************************
    class container
***************************/
.container,
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/**************************
    class carousel
***************************/

/***************************
    class main content
****************************/
.main-content{
    margin-top: 5vw;
    margin-bottom: 5vw;
    border: 2px solid #343a40;
    padding: 0 2vw 2vw 2vw;
    border-radius: 0.25rem;
}

.view-main-content{
    margin-top: 3.5vw;
}
/*************************
    class jumbotron
**************************/

.jumbotron{
    margin: 0;
}

.jumbotron-fluid{
    margin: 5vw 0;
}

.jumbotron-btn button{
    margin: 0.5vw 1vw;
}

.jumbotron-text{
    padding: 7vw 0;
}

.jumbotron-text h1{
    color: rgb(0,71,133);
}
/*********************
    class card
********************/

.card{
    margin-top: 2vw;
}
/**********************
    class footer
***********************/

.footer-list{
    padding: 2vw 0;
}

.text-small{
    background: none;
}

.text-small a{
    color: white;
    transition: all 0.2s ease-out;
}

.text-small a:hover{
    text-decoration: none;
    padding-left: 0.9vw;
}

.footer-text{
    margin: 3.5vw 0;
}

.footer-copyright-bar{
    padding: 2vw 0;
}

.footer-img-body{
    padding-top: 1vw;
    width: 60%;
    margin: 0 auto;
}